/* Starter Project Styles */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: bc-alphapipe, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .10px;
    line-height: 3;
    background-color: #141414;
    color: white;
    font-size; 46px;
}

h1 {
    color: #F3AF9A;
    font-weight: 600;
    margin-left: 1rem;
}

h2 {
    color: #F3AF9A;
    font-weight: 400;
    margin-left: 3rem;
}

h3 {
    color: #F3AF9A;
    font-weight: 400;
    margin-left: 3rem;
}

h4 {
    color: #F3D09C;
    font-weight: 300;
    margin-left: 3rem;
}
img {
    max-width: 100%;


}

ul {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

p {
    margin-left: 1rem;
    padding: 2%;
}

li {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "product product product product"
    "s m l .";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 680px) {
  li {
    grid-template-areas:
      "product s m l";
  }
}

.product {
  grid-area: product;
}
.small {
  grid-area: s;
}
.medium {
  grid-area: m;
}
.large {
  grid-area: l;
}
ul {
  width: 100%;
}




 